@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$container-padding: 23%;
$form-margin: 10px;
$border-radius: 5px;
$font: 'PT Serif',  serif;

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: $font;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 25px $container-padding 35px $container-padding;
    height: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.error-404 {
    text-align: center;

    h1 {
        font-size: 70pt;
        font-weight: 600;
        margin: 10px 0 10px 0;
    }

    p {
        font-size: 13pt;
    }
}

a {
    color: #3f6be2;
    text-decoration: underline;
    text-underline-offset: 3px;
    transition: color 0.1s;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #ff1b1b;
}

%input-border {
    border: 1px solid #b1b1b1;
    border-radius: $border-radius;
    outline: none;
    transition: border-color 0.15s;
}

%input-border:focus {
    border-color: #2c2c2c;
}

.form {
    width: 100%;

    * {
        width: 100%;
    }

    input, select {
        height: 33px;
        @extend %input-border;
        font-family: $font;
        padding: 5px;
    }

    textarea {
        resize: vertical;
        height: 500px;
        @extend %input-border;
        font-size: 12pt;
        font-family: 'JetBrains Mono', monospace;
    }

    label {
        display: block;
    }

    .title-grid {
        display: grid;
        gap: $form-margin;
        grid-template-columns: 5fr 1fr;
    }

    .title-grid-page {
        grid-template-columns: 4fr 1fr 1fr !important;
    }
}

.form > * {
    margin-bottom: $form-margin;
}

.comments {
    display: flex;
    flex-wrap: wrap;
    gap: $form-margin;

    .comment {
        width: 100%;
        background: #fff;
        height: max-content;
        border-bottom: 1px solid #cacaca;
        padding: 10px;

        .comment-head {
            font-size: 13pt;
            padding: 3px;
        }
        
        .comment-body {
            padding: 7px;
        }
    }

    .comment:last-of-type {
        border: none;
    }
}

.large-input {
    font-size: 13pt;
    font-weight: 600;
}

.v-margin {
    margin-bottom: 30px;
}

.icon {
    color: #3d3d3d;
}

.reply {
    text-decoration: none;
}

.under-comment > * {
    margin-right: 10px;
}

h1, h2, h3 {
    font-weight: 400;
}